*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: rgb(39, 39, 124);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.passwordBox{
  width: 400px;
  padding: 20px;
  height: 320px;
  background-color: aqua;
  font-family: sans-serif;
}
.passwordBoxin{
  display: flex;
  padding: 5px;
}
.passwordBoxin input{
  flex-basis: 80%;
  padding-left: 5px;
  font-family: sans-serif;
}
.passwordBoxin button{
  flex-basis: 20%;
  padding: 10px 0px;
  font-family: sans-serif;
}
.passwordLength{
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.passwordLength label{
  flex-basis: 80%;
  font-family: sans-serif;
}
.passwordLength input{
  flex-basis: 20%;
}
.uppercase{
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  font-family: sans-serif;
}
.lowercase{
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  font-family: sans-serif;
}
.Numbers{
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  font-family: sans-serif;
}
.symbols{
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  font-family: sans-serif;
}
.btn{
  width: 100%;
  padding: 10px 0px;
  cursor: pointer;
  font-family: sans-serif;
}