body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.root {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}


.Random {
  padding: 10px;
  margin: 30px;
  font-size: 50px;
  font-weight: bold;
  color: rgb(126, 29, 29);
  background-color: rgb(143, 119, 165);
}
